/* Adapted from docs/src/app/(docs)/react/components/avatar/demos/hero/css-modules/index.module.css */

.Row {
  display: flex;
  gap: 1rem;
}

.Root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: var(--ds-radius-round);
  -webkit-user-select: none;
  user-select: none;
  font-weight: 400;
  color: var(--ds-color-text-secondary);
  background-color: var(--ds-color-surface-sunken);
  font-size: 0.875rem;
  line-height: 1;
  overflow: hidden;
  height: 2rem;
  width: 2rem;
}

.Image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Fallback {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
}
